*, *::after, *::before {
    margin: 0;
    font-family: 'Jost';
}


.intro-content {
    display: flex;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    height: 100vh
}

.intro-content-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro-content-image {
    background-image: url("imgs/landscape.jpg");
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.project-content {
    display:flex;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.project-content-text {
    width: 65%
}

.project-content-image {
    width: 35%;
    height: 70vh;
    background-image: url("imgs/flower.jpg");
    background-position: left;
    background-size: cover;
}

#llv-content {
    flex-direction: row-reverse;
}

#llv-content-image {
    background-image: url("imgs/linkedlistvisualizer.PNG")
}



h1 {
    font-size: 65px;
}

.button {
    width: 250px;
    align-self: center;
    height: 50px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid black;
    transition-duration: .4s;
}

.button:hover {
    border: 1px solid rgb(124, 163, 255);
    color:rgb(124, 163, 255);
}